html{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: linear-gradient(60deg,#e74731, #e09e96, #f47c6d);
    height:auto;
    width: 100%;
}

body{
    margin: initial;
}

#wrapper{
    height: 100vh;
    width: 100%;
}

#pagecontainer{
    height: auto;
    width:100%;
    background-image: radial-gradient(#FFFFFF,rgb(236, 236, 236));
    margin:.1vw;
    overflow: hidden;
    border-radius: 5px;
    -webkit-border-radius: 5px;

}

#pagecontainer h1{
    text-align:center; 
    color:#f47c6d;
    font-family: Roboto,'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top:2vh;
}

#pagecontainer h3{
    text-align: center;
    color: #f5998d;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top:-1.2em;
}

#pagecontainer h4{
    text-align: center;
    color: #f47c6d;
    text-decoration: underline;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

#pagecontainer p{
    color: #f5998d;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#loginform{
    text-align: center;
}

#loginform label[for="email"], label[for="password"]{
    color: #f47c6d;
    font-family: Roboto,'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

#loginform label[for="remember"]{
    color: #f5998d;
    font-family: Roboto,'Open Sans', 'Helvetica Neue', sans-serif;
}

#loginform input{
    margin-bottom: 1vh;
    color:#f5998d;
}

#loginform input[type=reset]{
    color:#f47c6d;
    padding: .5em 1em;
    overflow: hidden;
    background-color: white;
    border-radius: 1em;
    -webkit-border-radius: 1em;
}

#loginform input[type=reset]:hover{
    color:white;
    border-color: white;
    background-color: #f47c6d;
    cursor: pointer;
}

#loginform input{
    margin-bottom: 1vh;
    color:#f5998d;
    border-radius:1em;
    border-color: #f5998d;
    border-style: solid;
}